<div class="wrapper">
  <div class="example-container" >
    <h2 class="text-center">Culture Fit Assessment</h2>
    <br>
    <h2 class="text-center"> Question 1: </h2>
    <br>

    <p> Please order the statements below from most relatable to least. <br> Drag and Drop the statements that you
        associate most strongly with yourself to the <strong>TOP</strong> of the list.</p>
    <div class="question">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" color="accent" *ngFor="let question of questions" cdkDrag>{{question}}</div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="btn">
    <button mat-button color="accent" (click)="onScoreTotal()">Next</button>
  </div>
</div>
          <!-- <p><b> 1. I prefer to be assertive  </b></p> -->
          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Dominance">
            </mat-form-field> 
          </section>         -->
          <!-- <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10" 
            [(ngModel)]="obj.Dominance">
          </mat-slider> -->
        <!-- </div>
        <div class="question"> -->
          <!-- <p><b> 2. I prefer to follow regulations in my workspace </b></p> -->
          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Precise">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Precise">
          </mat-slider> -->
        <!-- </div>
        <div class="question"> -->
          <!-- <p><b> 3. I prefer to join in with others </b></p> -->
         
          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Earth">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Earth">
          </mat-slider> -->
        <!-- </div>
        
        <div class="question"> -->
          <!-- <p><b> 4. I prefer to move at a fast pace </b></p> -->
          
          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Animated">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Animated">
          </mat-slider> -->
        <!-- </div>
        <div class="question"> -->
          <!-- <p><b> 5. I prefer to influence people </b></p> -->

          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Convincing">
            </mat-form-field>
            
          </section>

          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Convincing">
          </mat-slider> -->
        <!-- </div>
        <div class="question"> -->
          <!-- <p><b> 6. I prefer to accommodate other's wishes </b></p> -->

          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Accommodate">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Accommodate">
          </mat-slider> -->
        <!-- </div>
        <div class="question"> -->
          <!-- <p><b> 7. I prefer to work quietly on my own </b></p> -->

          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Introvert">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="8"
            [(ngModel)]="obj.Introvert">
          </mat-slider> -->
        <!-- </div>
        <div class="question" id="lastQ"> -->
          <!-- <p><b> 8. I prefer to work independently </b></p> -->

          <!-- <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Headstrong">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)] ="obj.Headstrong">
          </mat-slider> -->
        <!-- </div>
      </div> -->

<!-- </div> -->
      
      
      
      <!-- <question-1-Comp *ngIf="showQ === 1"></question-1-Comp>
      <quwstion-2 *ngIf="showQ === 2"></quwstion-2>
      
      <question-1-Comp></question-1-Comp>
      <quwstion-2 ></quwstion-2>
      
      <question-1-Comp></question-1-Comp>
      <quwstion-2 ></quwstion-2> -->
      