
<div class="wrapper">
  <div class="example-container" >
    <h2 class="text-center">Culture Fit Assessment</h2>
    <br>
    <h2 class="text-center"> Question 4: </h2>
    <br>

    <p> Please rank yourself accordingly using the below drag and drop interface. <br> Drag and Drop the options that you <strong>Strongly Agree</strong>
        and associate yourself with to the <strong>TOP</strong> and the ones you do not <strong>Strongly Agree</strong> with to the <strong>BOTTOM</strong>.</p>
    <div class="question">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" color="accent" *ngFor="let question of questions" cdkDrag>{{question}}</div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="btn">
    <button mat-button color="accent" (click)="onScoreTotal()"> Next </button>
  </div>
</div>
<!-- <div class="header">
        <h1> Culture Fit Assessment </h1>
        <h2> Question 4: </h2>
        <p> Please rank each statement from <strong> 1 (Strongly Disagree) </strong> to <strong> 8 (Strongly Agree) </strong> <br> Each statement must have its own unique number: </p>
        <div class="question">
          <p><b> 1. At work people would best describe me as go-getting </b></p>
          
          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Headstrong">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="8" 
            [(ngModel)]="obj.Headstrong">
          </mat-slider>
        </div>
      
        <div class="question">
          <p><b> 2. At work people would best describe me as optimistic</b></p>

          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Convincing">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel" 
            tickInterval="1000"
            min="1"
            max="8"
            [(ngModel)]="obj.Convincing">
          </mat-slider>
        </div>
        <div class="question">
          <p><b> 3. At work people best describe me as thoughtful </b></p>

          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Earth">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="8"
            [(ngModel)]="obj.Earth">
          </mat-slider>
        </div>
        <div class="question">
          <p><b> 4. At work people would best describe me as energetic </b></p>

          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Animated">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="8"
            [(ngModel)]="obj.Animated">
          </mat-slider>
        </div>
      </div>
      
        <div class="question">
          <p><b> 5. At work people would best describe me as obliging </b></p>

          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Accommodate">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="8"
            [(ngModel)]="obj.Accommodate">
          </mat-slider>
        </div>
        <div class="question">
          <p><b> 6. At work people would best describe me as independent </b></p>

          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Introvert">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Introvert">
          </mat-slider>
        </div>
        <div class="question">
          <p><b> 7. At work people would best describe me as assertive </b></p>

          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Dominance">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Dominance">
          </mat-slider>
        </div>
        <div class="question">
          <p><b> 8. At work people would best describe me as accurate </b></p>

          <section class="example-section">
            <mat-form-field class="example-margin">
              <input matInput type="number" placeholder="Value" [(ngModel)]="obj.Precise">
            </mat-form-field>
            
          </section>
          <mat-slider class="slider"
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="10"
            [(ngModel)]="obj.Precise">
          </mat-slider>
        </div>
      
       <button mat-button color="accent" (click) = "onScoreTotal()"> Next </button> 
       
      
      
      
       -->