<div class="sidebar-content">
  <perfect-scrollbar>
    <div class="sidebar-header">
      <h1> <b>Culture Fit Assessment</b></h1>
      <h2> Question 1 </h2>
      <p> <b> Please rank each statement from <strong>1 (Strongly Disagree)</strong>
          to <strong>8 (Strongly Agree)</strong> <br>each statement must have its own unique number:
        </b></p>
        <div>
          <p style="background-color:lightblue" value="Back">ssss</p>
        </div>
    </div>
  </perfect-scrollbar>
</div>