
<section class="step1-content">
  <perfect-scrollbar>
    <div class="step1-header">
      <h1> <b>Culture Fit Assessment</b></h1>
      <h2> Question 1: </h2>
      <p> <b> Please rank each statement from <strong>1 (Strongly Disagree)</strong>
          to <strong>8 (Strongly Agree), </strong> <br>each statement must have its own unique number:
        </b></p>
        <div class="wrapper">
          <p>I prefer to be assertive</p><br/><br/>
          <app-mat-slider></app-mat-slider>
          
        </div>
    </div>
  </perfect-scrollbar>
</section>

