<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  
  <body>
      <app-sidebar></app-sidebar>
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" width=75% right=0px> -->
         <div class="well ">
              <div class="col-sm-12" *ngIf="authService.userData as user">
                <!-- <div class="col-sm-1">
  
                </div> -->

    
                  <div class="col-sm-4 text-left">
                     
                      
                      <h2> <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h2>
                                 
                 
                      <p><strong>City: </strong> Cape Town </p>
                      <p><strong>Institution: </strong> University of Cape Town </p>
                      <p><strong>Degree: </strong>Bbus Sci Information Systems </p>
                      <p><strong>Year: </strong> 4 </p>
                      <p><strong>Skills: </strong>
                          <span class="tags">html5</span> 
                          <span class="tags">css3</span>
                          <span class="tags">jquery</span>
                          <span class="tags">bootstrap3</span>
                      </p>
                  </div>
                  <div class="col-sm-8 text-right ">
                    <figure>
                        <img src="assets/images/bbdAdvert2.PNG" alt="" class=" img-responsive  pointer" (click)="adClick()">
                      
                    </figure>
                </div>
            </div> 
            <div class="col-xs-12 divider text-center well">
              <div class="col-xs-12 col-sm-4 emphasis">
                  <h2><strong> Precise </strong></h2>                    
                  <p><small>Culture</small></p>
                  <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
              </div>
              <div class="col-xs-12 col-sm-4 emphasis">
                  <h2><strong>75%</strong></h2>                    
                  <p><small>Average*</small></p>
                  <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Transcript </button>
              </div>
              <div class="col-xs-12 col-sm-4 emphasis">
                  <h2><strong>13/43</strong></h2>                    
                  <p><small>Rank</small></p>
                  <div class="btn-group dropup btn-block">
                    <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Filter by </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu text-left" role="menu">
                      <li><a href="#"><span class="fa fa-envelope pull-right"></span> Institution</a></li>
                      <li><a href="#"><span class="fa fa-list pull-right"></span> Degree </a></li>
                      <li class="divider"></li>
                      <li><a href="#"><span class="fa fa-warning pull-right"></span>City</a></li>
                      <li class="divider"></li>
                      <!-- <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li> -->
                    </ul>
                  </div>
                  
              </div>
              
          </div>
     <!-- </div>                  -->
    
  <!-- <h3 style="text-align:center">Radar Chart</h3> -->
  
      </div>
      </div>
      </div>
      <div class="row mb-5 align-items-center well">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <div style="display: block">
              <canvas baseChart
                      [datasets]="demoradarChartData"
                      [labels]="demoradarChartLabels"
                      [chartType]="radarChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>
            </div>
          </div>
          <div id="dominant" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
            <h2 class="text-black mb-4">Dominant Culture</h2>
            <p class="mb-4">This culture can be defined as powerful, authoritative, assertive, competitive, robust, go-getting, straightforward and one that wants to be seen.
<br><br>
                It has little or no patience for time wasting in its single-minded attempt to get things done, sometimes, no matter what the cost. It is status-conscious and seeks power to fulfil its status. Although it can be quite outgoing, it also has an inquisitive nature that will challenge conventional thinking.
      
              <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
            </p>
      </div>
      <div id="convincing" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
          <h2 class="text-black mb-4">Convincing Culture</h2>
          <p class="mb-4">This culture can be defined as extroverted, optimistic, oral, promotional, persuasive, charismatic and sales-oriented.

              Self-important by nature, it also appears as self-confident in promoting its every action to anyone who will listen. Always likes to be noticed, it sells itself with poise in an almost self-possessed way. Appearing to be cosmopolitan, it never stops talking. <br><br> It appears as aspirational, trustable, lively, eager and positive. However, if we dig a little deeper there can be inadequacies in the culture. It may come across as shallow, superficial and self-indulging. The culture may also seem a little short-lived and trendy.
    
            <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
          </p>
    </div>
    <div id="earth" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
        <h2 class="text-black mb-4">Down to Earth Culture</h2>
        <p class="mb-4">This culture can be defined as sincere, helpful, reliable, personal, family-oriented and predictable. The most dependable of cultures – a real member of the family. Trusted by everyone, the culture is a real solid member of the business, always there where you need it most. Soft-tempered, friendly and very sincere, it provides intimate security at all times. It forms long-lasting attachments to those who trust it and it trusts. It provides inner peace though reliably doing what you would expect it to do. Controlled, easy-going and relaxed.
<br><br>
            However, as a culture it cannot always adjust to different situations. Instead, once security of what it knows well is removed, it becomes uncertain and may fluster. The same applies to its natural rhythm. These cultures work well at the pace they were designed for. Take them to a new pace, and they find it difficult to cope with the change.
  
          <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
        </p>
  </div>
  <div id="precise" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
      <h2 class="text-black mb-4">Precise Culture</h2>
      <p class="mb-4">This culture can be defined as the most technologically competent, precise, correct, rule-led, methodical and disciplined of all culture types. <br> <br>Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication.

        <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
      </p>
</div>
<div id="accomodate" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
    <h2 class="text-black mb-4">Accomodating Culture</h2>
    <p class="mb-4">This culture can be defined as cordial, easy-going, sincere, obliging, approachable, moderate and cautious.
        It is there to provide service to the customer no matter what the constraints. The customer is always king. <br> <br>Fairly conservative in its approach, it is modest to the extreme. Humble, unpretentious, it seeks direction in a true and sober state. Can come across as mild, may have underlying apprehension and hesitancy as to its own true feelings and those around it. Always respectful, unassuming and happy to be routine and do the routine. This culture is the ultimate customer servant that plays very safe in a traditional way.

      <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
    </p>
</div>
<div id="introvert" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
    <h2 class="text-black mb-4">Introverted Culture</h2>
    <p class="mb-4">This culture can be defined as independently thoughtful, reserved, diligent, reflective, rational and serious.

        For the introverted culture, life is to be carefully examined, taken seriously, and acted out in a cautious and restrained way. Quietly thoughtful, the introverted culture distrusts the superficial, is self-conscious and can appear somewhat detached or isolated. <br><br>Quiet in the social contexts, likely to be nonetheless accomplished at what it attempts to do. Almost a secret waiting to be found out by the customer.
        
        This culture can seem pessimistic. The pessimism is more to do with its rational and deep thinking rather than pure fatalism.

      <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
    </p>
</div>
<div id="animated" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
    <h2 class="text-black mb-4">Animated Culture</h2>
    <p class="mb-4">Rugged, outgoing, sporty, eager, excitable, spirited and youthful.

        Life is all about living on the edge. Very fast-paced by nature, these cultures love the rough and tumble of life seeking the adrenaline rush wherever possible. <br><br>Highly-strung, impetuous and almost neurotic, their nervous energy is hard to keep pace with as they rush from one kick to another. Variety is the spice of life and boredom sets in as soon as the activity stops.

      <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
    </p>
</div>
<div id="headstrong" class="col-lg-4 ml-auto" data-aos="fade-up"  data-aos-delay="200">
    <h2 class="text-black mb-4">Headstrong Culture</h2>
    <p class="mb-4">Autonomous, creative, opinionated, fearless, rebellious, independent and plainspoken.

        At the extreme, it displays resolute doggedness in the face of all adversity. Strong-willed single-mindedness and no thought to convention enables a creative flow not replicated to such a degree in any other cultures. <br> <br>Self-belief governs the culture to whatever it takes for getting its way. “My way or the highway” epitomises this culture type that runs totally free of convention with its own moral code. A real rebel in the market place or business appealing to those who want to just be different.

      <!-- Conservative approach looking for perfection in everything. If there is a standard to be met, this culture does it and more. Everything is ordered and complies with the rules in a cold and businesslike fashion. Logic is the key with little time for creativity. Able to handle the smallest detail, these cultures may not be the most influential, but are certainly the most correct in their approach. Utilised for their superiority, resilience and technical sophistication. -->
    </p>
</div>
      <!-- <script type="text/javascript">
        function showprecisediv(topCulture){
            
            if (topCulture.value === 1){
              pre
            } else {
                document.getElementById(responddivid).style.display="none";
            }
        }
        </script> -->
        </div>  
      </body>
      
  
