<app-sidebar></app-sidebar>

<div class="row mb-5 align-items-center">
        <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/images/undraw_teacher.svg" alt="Image" class="img-fluid quiz">
              </div>
        <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
          <h2 class="text-black mb-4 info">Culture Fit Assessment</h2>
          <p class="mb-4">The last step in the registration process is the culture fit assessment.
              There are five rounds of questions where statements must be ranked from most relatable 
              to least relatable. <br> <br> In completion of this assessment, the company culture best suited 
              to you will be established and used to connect you with potential employers. To ensure 
              the accuracy of this these results the assessment may only be completed once.
          </p>
    
    <button type="submit"  ali="center" class="btn btn-success"  (click)="openQuestionA()" >
        Start Assessment
    </button>
</div>
</div>

  
  
  
  