
.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

 
}
.example-container {
    display: flex;
    flex-direction: column;
height: 100px;


padding-left: 300px;
  }
  
  .example-container > * {
    width: auto;
  }
  .dropzonecontent {
    display: flex;
    padding: 10vh 10vw;
    align-items: center;
    justify-content: center;
    text-align: center;
 
 }
  .pre {
    text-align: left;
 }
  .dropzone {
    background: #e8e9ec;
 }
  .dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 15vw;
    font-weight: 20;
    height: 50px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
 }
  .dropzone.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
 }
  .dropzone .file-label {
    font-size: 1.2em;
 }
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
 }
 
  